@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


body {
	margin: 0;
	padding: 0;
	font-size: 25pt;
	font-family: $font-primary;
	nav {
		@include bar;
		position: fixed;	
		z-index: 3;
		ul {
			list-style-type: none;
		}

		li {
			display: inline-block;
			float: right;
			padding: 20px;
			cursor: pointer;
			&.navopt {
				color: white;
				text-decoration: none;
			}
			&.active {
				background-color: $bar-select-color;
			}
		}
		#title {
			float: left;
			margin-left: 75px;
			font-weight: bold;
			width: 250px;
		}
	}
	main {
		padding-top: 72px;
		display: inline-block;
		text-align: center;
		width: 100%;
		#intro {
			@include fadeIn(2s);
			@include scaleBackground("../media/doge-bg.jpg");
			background-attachment: fixed;
			height: 750px;
			@include centerOuter;
			#description {
				@include centerInner;
				h2 {
					font-size: 50pt;
					color: red;
				}
				h1 {
					font-size: 75pt;
					color: cyan;
					margin-bottom: 10px;
				}	
			}
		}
		#modal-state {
			display: none;
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    z-index: 2;
		    background-color: rgba(242,225,95,0.4);
		    #info {
		    	display: block;
		    	text-align: left;
			    padding: 20px;
		    	margin: 10% auto;
			    width: 70%; /* Could be more or less, depending on screen size */
		    	background-color: white;
			    #x {
			    	text-align: right;
			    	display: block;
			    	&:hover {
			    		cursor: pointer;
			    		color: red;
			    	}
			    }
		    }
		}
		#video {
			background-color: $bg-color;
			padding-bottom: 30px;
			h1 {
				font-size: 30pt;
				padding: .5em;
			}
		}
		#tricolumn {
			font-size: 40pt;
			width: 100%;
			color: DodgerBlue;
			.column {
				width: 33.3333%;
				display: inline-block;
				float: left;
				height: 150px;
				padding-top: 150px;
				padding-bottom: 100px;
				a {
					text-decoration: none;
				}
			}
			#column1 {
				@include scaleBackground("../media/many-doge.png");
			}
			#column2 {
				@include scaleBackground("../media/laugh-doge.jpg");
			}
			#column3 {
				@include scaleBackground("../media/computer-doge2.png");
			}
		}
		#carousel {
			display: inline-block;
			width: 100%;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: $bg-color;
			h1 {
				font-size: 30pt;
				padding-bottom: 20px;
			}
			i {
				cursor: pointer;
			}
			#images {
				display: inline-block;
				#left {
					float: left;
				}
				#right {
					float: right;
				}
				li {
					display: none;
					float: center;
					width: 900px;
					height: 700px;
					&.disp {
						display: inline-block;
					}
					&#el1 {
						@include scaleBackground("../media/doge-king.jpg");
					}
					&#el2 {
						@include scaleBackground("../media/doge-ross.jpg");
					}
					&#el3 {
						@include scaleBackground("../media/hot-doge.jpg");
					}
				}
			}
		}
	}

	footer {
		@include bar;
		color: black;
		display: inline-block;
		text-align: center;
	    bottom: 0;
	    padding-top: 1em;
	    padding-bottom: 1em;
	}
}

.button {
	display: inline-block;
	background-color: green;
	color: white;
	font-size: 16pt;
	padding: 10px;
	border: none;
	text-decoration: none;
	&:hover {
		background-color: limegreen;
		cursor: pointer;
	}
	&:focus {
		outline: none;
	}
}